body{
background-color:#f06226;
font-family:'Arial','Times New Roman';
color:#fff;
font-size:14px;
}


.container{
width:50%;
background-color:blue;
margin:50px 50px;
padding:50px 50px;
overflow:auto;
}


header{
text-align:center;
border-bottom:#fff dashed 1px;
}

header h1{
padding:0px;
margin:0px;
}

section{
max-height:1000px;
}

footer
{
text-align:center;
}

input[type='submit']{
background-color:#f06226;
color:white;
height:30px;
padding:0px;
width:100px;
margin:0px;
cursor:pointer;
}

#result h3{
background-color:brown;
margin:20px;
}

#result span{
text-align:center;
font-size:20px;
font-weight:bold;
}
